{% extends 'dashboard.html' %}

{% block content %}
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">{{ page_title }}</h6>

            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{{ back_url }}" class="btn btn-sm btn-neutral">Back</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h4>{{ page_title }}</h4>
                <br> <hr>
               <form method="post" class="form">
                   {% csrf_token %}
                   {{ form }}
                   <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> </button>
               </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}