{% extends 'dashboard.html' %}

{% block content %}
    <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Strategy | Homepage</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Moving Average Trading Strategy</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'moving_average_trading' %}" class="btn btn-success">Select</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}